{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:@cspell/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "ignorePatterns": ["lib/*", "dist/*", "build/*", "node_modules/*"],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "no-empty": "warn"
  }
}
